/* #region assets */

/* #region colors */

:root{
    --primary:#d2d2d2;
    --secondary:#a3a3a3;
    --col-bg:#141922;
    --col-bg-header:#080b12;
    --col-bg-footer:#282828;
}

.cw{
    color: white;
}

.cb{
    color: black;
}

/* #endregion colors */

/* #region grid */

.container{
    width: 100%;
    margin: auto;
}



.row{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 576px){
    
    .hide-min-sm{
        display: none;
    }

    .show-min-sm{
        display: block;
    }
    
    .col-sm-1{
        width: calc((100% / 12)*1);
    }

    .col-sm-2{
        width: calc((100% / 12)*2);
    }

    .col-sm-3{
        width: calc((100% / 12)*3);
    }

    .col-sm-4{
        width: calc((100% / 12)*4);
    }

    .col-sm-5{
        width: calc((100% / 12)*5);
    }

    .col-sm-6{
        width: calc((100% / 12)*6);
    }

    .col-sm-7{
        width: calc((100% / 12)*7);
    }

    .col-sm-8{
        width: calc((100% / 12)*8);
    }

    .col-sm-9{
        width: calc((100% / 12)*9);
    }

    .col-sm-10{
        width: calc((100% / 12)*10);
    }

    .col-sm-11{
        width: calc((100% / 12)*11);
    }

    .col-sm-12{
        width: calc((100% / 12)*12);
    }
}

@media screen and (min-width: 768px){
    
    .hide-min-md{
        display: none;
    }

    .show-min-md{
        display: block;
    }

    .col-md-1{
        width: calc((100% / 12)*1);
    }

    .col-md-2{
        width: calc((100% / 12)*2);
    }

    .col-md-3{
        width: calc((100% / 12)*3);
    }

    .col-md-4{
        width: calc((100% / 12)*4);
    }

    .col-md-5{
        width: calc((100% / 12)*5);
    }

    .col-md-6{
        width: calc((100% / 12)*6);
    }

    .col-md-7{
        width: calc((100% / 12)*7);
    }

    .col-md-8{
        width: calc((100% / 12)*8);
    }

    .col-md-9{
        width: calc((100% / 12)*9);
    }

    .col-md-10{
        width: calc((100% / 12)*10);
    }

    .col-md-11{
        width: calc((100% / 12)*11);
    }

    .col-md-12{
        width: calc((100% / 12)*12);
    }

}

@media screen and (min-width: 992px){
    
    .hide-min-lg{
        display: none;
    }

    .show-min-lg{
        display: block;
    }

    .col-lg-1{
        width: calc((100% / 12)*1);
    }

    .col-lg-2{
        width: calc((100% / 12)*2);
    }

    .col-lg-3{
        width: calc((100% / 12)*3);
    }

    .col-lg-4{
        width: calc((100% / 12)*4);
    }

    .col-lg-5{
        width: calc((100% / 12)*5);
    }

    .col-lg-6{
        width: calc((100% / 12)*6);
    }

    .col-lg-7{
        width: calc((100% / 12)*7);
    }

    .col-lg-8{
        width: calc((100% / 12)*8);
    }

    .col-lg-9{
        width: calc((100% / 12)*9);
    }

    .col-lg-10{
        width: calc((100% / 12)*10);
    }

    .col-lg-11{
        width: calc((100% / 12)*11);
    }

    .col-lg-12{
        width: calc((100% / 12)*12);
    }

}

@media screen and (min-width: 1200px){
    
    .hide-min-xl{
        display: none;
    }

    .show-min-xl{
        display: block;
    }

    .col-xl-1{
        width: calc((100% / 12)*1);
    }

    .col-xl-2{
        width: calc((100% / 12)*2);
    }

    .col-xl-3{
        width: calc((100% / 12)*3);
    }

    .col-xl-4{
        width: calc((100% / 12)*4);
    }

    .col-xl-5{
        width: calc((100% / 12)*5);
    }

    .col-xl-6{
        width: calc((100% / 12)*6);
    }

    .col-xl-7{
        width: calc((100% / 12)*7);
    }

    .col-xl-8{
        width: calc((100% / 12)*8);
    }

    .col-xl-9{
        width: calc((100% / 12)*9);
    }

    .col-xl-10{
        width: calc((100% / 12)*10);
    }

    .col-xl-11{
        width: calc((100% / 12)*11);
    }

    .col-xl-12{
        width: calc((100% / 12)*12);
    }

}

@media screen and (min-width: 1400px){
    
    .hide-min-xxl{
        display: none;
    }

    .show-min-xxl{
        display: block;
    }

    .col-xxl-1{
        width: calc((100% / 12)*1);
    }

    .col-xxl-2{
        width: calc((100% / 12)*2);
    }

    .col-xxl-3{
        width: calc((100% / 12)*3);
    }

    .col-xxl-4{
        width: calc((100% / 12)*4);
    }

    .col-xxl-5{
        width: calc((100% / 12)*5);
    }

    .col-xxl-6{
        width: calc((100% / 12)*6);
    }

    .col-xxl-7{
        width: calc((100% / 12)*7);
    }

    .col-xxl-8{
        width: calc((100% / 12)*8);
    }

    .col-xxl-9{
        width: calc((100% / 12)*9);
    }

    .col-xxl-10{
        width: calc((100% / 12)*10);
    }

    .col-xxl-11{
        width: calc((100% / 12)*11);
    }

    .col-xxl-12{
        width: calc((100% / 12)*12);
    }

}

@media screen and (max-width: 576px){
    .hide-max-sm{
        display: none;
    }

    .show-max-sm{
        display: block;
    }

    .col-sm-1{
        width: calc((100% / 12)*1);
    }

    .col-sm-2{
        width: calc((100% / 12)*2);
    }

    .col-sm-3{
        width: calc((100% / 12)*3);
    }

    .col-sm-4{
        width: calc((100% / 12)*4);
    }

    .col-sm-5{
        width: calc((100% / 12)*5);
    }

    .col-sm-6{
        width: calc((100% / 12)*6);
    }

    .col-sm-7{
        width: calc((100% / 12)*7);
    }

    .col-sm-8{
        width: calc((100% / 12)*8);
    }

    .col-sm-9{
        width: calc((100% / 12)*9);
    }

    .col-sm-10{
        width: calc((100% / 12)*10);
    }

    .col-sm-11{
        width: calc((100% / 12)*11);
    }

    .col-sm-12{
        width: calc((100% / 12)*12);
    }
}

@media screen and (max-width: 767px){
    .hide-max-md{
        display: none;
    }

    .show-max-md{
        display: block;
    }
}

@media screen and (max-width: 991px){
    .hide-max-lg{
        display: none;
    }

    .show-max-lg{
        display: block;
    }
}

@media screen and (max-width: 1200px){
    .hide-xl{
        display: none;
    }
    .show-max-xl{
        display: block;
    }
}

@media screen and (max-width: 1400px){
    .hide-xxl{
        display: none;
    }

    .show-max-xxl{
        display: block;
    }
}

.col-1{
    width: calc((100% / 12)*1);
}

.col-2{
    width: calc((100% / 12)*2);
}

.col-3{
    width: calc((100% / 12)*3);
}

.col-4{
    width: calc((100% / 12)*4);
}

.col-5{
    width: calc((100% / 12)*5);
}

.col-6{
    width: calc((100% / 12)*6);
}

.col-7{
    width: calc((100% / 12)*7);
}

.col-8{
    width: calc((100% / 12)*8);
}

.col-9{
    width: calc((100% / 12)*9);
}

.col-10{
    width: calc((100% / 12)*10);
}

.col-11{
    width: calc((100% / 12)*11);
}

.col-12{
    width: calc((100% / 12)*12);
}


/* #endregion grid */

/* #region generals */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}

.debug{
    border: 1px dashed black;
}

/* #endregion generals */

/* #region utilities */

.d-flex{
    display: flex;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content: space-evenly;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.align-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

/* #endregion utilities */

/* #endregion assets */

/* #region header */

header>.container{
    padding: 2rem 1rem;
    background-color: var(--col-bg-header);
    display: inline-block;
    margin-right: 0;
    height: 10vh;
    float: right;
    width: calc(100% - 250px);

    .d-flex {
        height: 100%;
    }

    @media (max-width: 576px) {
        width: 90%;
    }
}

.upgrade-btn{
    padding: 0.7rem;
    border: 1px solid white;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    width: max-content;
}

.upgrade-btn:hover{
    padding: 1rem;
}

/* #endregion header */

/* #region nav */

nav>.container{
    background-color: black;
    height: 90vh;
    width: 250px;
    float: left;
    display: inline-block;
    padding: 1rem;
    position: relative;

    @media (max-width: 576px) {
        width: 10%;
        padding: 0.5rem;
    }
}

.logo-big , .logo-small{
    margin-bottom: 1.5rem;
}

.home>svg{
    fill: var(--primary);
}

.icon{
    margin-bottom: 0.7rem;
}

.home>p{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

.search>svg , .library>svg , .download>svg{
    fill: var(--secondary);
}

.search>p , .library>p , .download>p{
    font-size: 1rem;
    color: var(--secondary);
    margin-left: 0.5rem;
}

.playlist>h3{
    color: white;
    font-size: 1.2rem;
    padding-top: 1rem;
}

.playlist>ul{

    list-style: none;

    li {
        fill: var(--secondary);
        color: var(--secondary);
        font-size: 1rem;
        margin-top: 0.5rem;

        p {
            margin-left: 0.5rem;
        }
    }
}

.profile{
    position: absolute;
    bottom: 0;
}

.download{
    border-bottom: 1px solid var(--secondary);
    padding-bottom: 1rem;
}

.user{
    margin: 1rem 0;
}

.user>svg{
    fill: var(--primary);
    background-color: var(--secondary);
    border-radius: 50%;
}

.user>p{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.5rem;
    
}

/* #endregion nav */

/* #region main */

main>.container{
    background-color: var(--col-bg);
    height: 80vh;
    float: right;
    width: calc(100% - 250px);

    @media (max-width: 576px) {
        width: 90%;
    }
}

/* #endregion main */

/* #region footer */

footer>.container{
    height: 10vh;
    background-color: var(--col-bg-footer);
    width: 100vw;
    float: left;
}

/* #endregion footer */